  <ul class="right">
    <li class="icon-s icon--facebook">
      <a href="https://www.facebook.com/brodetsthlm/" target="_blank">
        <span class="icon__name">Soundcloud</span>
      </a>
    </li>
    <li class="icon-s icon--instagram">
      <a href="https://www.instagram.com/brodetsthlm/" target="_blank">
        <span class="icon__name">Soundcloud</span>
      </a>
    </li>
    <li class="icon-s icon--spotify">
      <a href="https://open.spotify.com/artist/15UwmVEsTDGiuT8GWYavlk" target="_blank">
        <span class="icon__name">Soundcloud</span>
      </a>
    </li>
    <li class="icon-s icon--soundcloud">
      <a href="https://soundcloud.com/brodet-stockholm" target="_blank">
        <span class="icon__name">Soundcloud</span>
      </a>
    </li>
  </ul>
