  <ul>
    <li class="icon icon--facebook">
      <a href="https://www.facebook.com/brodetsthlm/" target="_blank">
        <span class="icon__name">Facebook</span>
      </a>
    </li>
    <li class="icon icon--instagram">
      <a href="https://www.instagram.com/brodetsthlm/" target="_blank">
        <span class="icon__name">Instagram</span>
      </a>
    </li>
    <li class="icon icon--spotify">
      <a href="https://open.spotify.com/artist/15UwmVEsTDGiuT8GWYavlk" target="_blank">
        <span class="icon__name">Spotify</span>
      </a>
    </li>
    <li class="icon icon--soundcloud">
      <a href="https://soundcloud.com/brodet-stockholm" target="_blank">
        <span class="icon__name">Soundcloud</span>
      </a>
    </li>
  </ul>
