/**
* Note: The icon images used here are
* hotlink protected and will not work
* outside of Codepen.
*
* You can get the icons to host yourself
* here: http://simpleicons.org/
*/
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}
a {
  border: 0;
  padding: 0 0 5px 5px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all .2s ease-out;
}
img {
  width: 45px;
}

.facebook {
  background-color:#3b5998;
}
.soundcloud {
  background-color:#f60;
}
.spotify {
  background-color:#80b719;
}
.instagram {
  background-color:#5c3d2e;
}
.youtube {
  background-color: #e62117;
}
