  <ul class="center">
    <li class="icon-s icon--facebook">
      <a href="https://www.facebook.com/brodetsthlm/" target="_blank">
        <img class="img-s facebook" src="./assets/facebook-128.png" />
      </a>
    </li>
    <li class="icon-s icon--instagram">
      <a href="https://www.instagram.com/brodetsthlm/" target="_blank">
        <img class="img-s instagram" src="./assets/instagram-128.png" />
      </a>
    </li>
    <li class="icon-s icon--spotify">
      <a href="https://open.spotify.com/artist/15UwmVEsTDGiuT8GWYavlk" target="_blank">
        <img class="img-s spotify" src="./assets/spotify-128.png" />
      </a>
    </li>
    <li class="icon-s icon--soundcloud">
      <a href="https://soundcloud.com/brodet-stockholm" target="_blank">
        <img class="img-s soundcloud" src="./assets/soundcloud-128.png" />
      </a>
    </li>
  </ul>
