<div class="main">
  <div class="row">
    <div class="col s12">
      <h2 class="flow-text left">PRESS</h2>
    </div>
    <div>
      <div class="col s7 push-s5">
        <span class="flow-text">PRESS TEST</span>
      </div>
      <div class="col s5 pull-s7">
        <img class="responsive-img"
        src="https://scontent-arn2-1.xx.fbcdn.net/v/t31.0-8/p720x720/10466970_539443372898448_4140739638455592289_o.png?oh=675d7c9ae743db3ddbdcd42318a59d6f&oe=596BBB09"
        />
      </div>
    </div>
    <div>
      <div class="col s7 push-s5">
        <span class="flow-text">PRESS TEST</span>
      </div>
      <div class="col s5 pull-s7">
        <img class="responsive-img"
        src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/13307337_583887571787361_4607132715974937850_n.jpg?oh=9a15928e9b097f968b3c144d3426b2a7&oe=596C6F2D"
        />
      </div>
    </div>
  </div>
</div>
