  <div class="col s12">
    <h4 class="flow-text title-t"><b>UPCOMING EVENTS</b></h4>
  </div>
  <ul class="collection">
    <li class="collection-item avatar">
      <img src="./assets/lpsmall.png" alt="" class="circle">
      <span class="title">ORIONTEATERN</span>
      <p>STOCKHOLM<br>
        3 JUNI
      </p>
      <a href="http://www.orionteatern.se/" target="_blank" class="secondary-content"><i class="material-icons">link</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="./assets/lpsmall.png" alt="" class="circle">
      <span class="title">HYBRIS SOMMARFEST</span>
      <p>STOCKHOLM<br>
        26 AUGUSTI
      </p>
    </li>
    <li class="collection-item avatar">
      <img src="./assets/lpsmall.png" alt="" class="circle">
      <span class="title">BACKYARD SESSIONS/HYMN</span>
      <p>MALMÖ<br>
        27 AUGUSTI
      </p>
    </li>
  </ul>
