  <nav>
    <div class="nav-wrapper z-depth-1">
      <a routerLink="/" class="brand-logo center">BRÖDET</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
        <li><a routerLink="/contact" routerLinkActive="active">CONTACT</a></li>
        <li><a routerLink="/gigs" routerLinkActive="active">GIGS</a></li>
        <li><a routerLink="/music" routerLinkActive="active">MUSIC</a></li>
        <li><a routerLink="/press" routerLinkActive="active">PRESS</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a routerLink="/contact" routerLinkActive="active">CONTACT</a></li>
        <li><a routerLink="/gigs" routerLinkActive="active">GIGS</a></li>
        <li><a routerLink="/music" routerLinkActive="active">MUSIC</a></li>
        <li><a routerLink="/press" routerLinkActive="active">PRESS</a></li>
        <li class="lpimg"><img class="center" src="./assets/lpsmall.png" /></li>
      </ul>
    </div>
  </nav>
